**Exercise**

Train SVM classifier using sklearn digits dataset (i.e. from sklearn.datasets import load_digits) and then,

    1.Measure accuracy of your model using different kernels such as rbf and linear.
    2.Tune your model further using regularization and gamma parameters and try to come up with highest accurancy score
    3.Use 80% of samples as training data size

In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split

In [2]:
digits=load_digits()

In [3]:
dir(digits)

['DESCR', 'data', 'images', 'target', 'target_names']

In [4]:
digits.target.shape

(1797,)

In [5]:
df=pd.DataFrame(digits.data)

In [6]:
df['target_names']=digits.target

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target_names
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [8]:
X=df.drop('target_names',axis='columns')

In [9]:
y=df.target_names

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [11]:
#kernel:rbf
model_rbf=SVC(kernel='rbf')

In [12]:
model_rbf.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [13]:
model_rbf.score(X_test,y_test)

0.9944444444444445

In [14]:
#kernel:linear
model_linear=SVC(kernel='linear')

In [15]:
model_linear.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [16]:
model_linear.score(X_test,y_test)

0.9805555555555555

In [17]:
C_list=list(range(1,10))
gamma_list=['scale', 'auto']
kernel_list=['rbf','linear']
c_para=[]
gamma_para=[]
kernel_para=[]
score_list=[]

In [18]:
for c in C_list:
    for gamma in gamma_list:
        for kernel in kernel_list:
            model_tuning=SVC(C=c,gamma=gamma,kernel=kernel)
            model_tuning.fit(X_train,y_train)
            score=model_tuning.score(X_test,y_test)
            c_para.append(c)
            gamma_para.append(gamma)
            kernel_para.append(kernel)
            score_list.append(score)

In [19]:
list=pd.DataFrame({'c':c_para,'gamma':gamma_para,'kernel':kernel_para,'score':score_list})

In [20]:
list

    c  gamma  kernel     score
0   1  scale     rbf  0.994444
1   1  scale  linear  0.980556
2   1   auto     rbf  0.411111
3   1   auto  linear  0.980556
4   2  scale     rbf  0.994444
5   2  scale  linear  0.980556
6   2   auto     rbf  0.461111
7   2   auto  linear  0.980556
8   3  scale     rbf  0.994444
9   3  scale  linear  0.980556
10  3   auto     rbf  0.461111
11  3   auto  linear  0.980556
12  4  scale     rbf  0.994444
13  4  scale  linear  0.980556
14  4   auto     rbf  0.461111
15  4   auto  linear  0.980556
16  5  scale     rbf  0.994444
17  5  scale  linear  0.980556
18  5   auto     rbf  0.461111
19  5   auto  linear  0.980556
20  6  scale     rbf  0.994444
21  6  scale  linear  0.980556
22  6   auto     rbf  0.461111
23  6   auto  linear  0.980556
24  7  scale     rbf  0.994444
25  7  scale  linear  0.980556
26  7   auto     rbf  0.461111
27  7   auto  linear  0.980556
28  8  scale     rbf  0.994444
29  8  scale  linear  0.980556
30  8   auto     rbf  0.461111
31  8   auto  linear  0.980556
32  9  scale     rbf  0.994444
33  9  scale  linear  0.980556
34  9   auto     rbf  0.461111
35  9   auto  linear  0.980556

In [21]:
list[list.score==list.score.max()]

    c  gamma kernel     score
0   1  scale    rbf  0.994444
4   2  scale    rbf  0.994444
8   3  scale    rbf  0.994444
12  4  scale    rbf  0.994444
16  5  scale    rbf  0.994444
20  6  scale    rbf  0.994444
24  7  scale    rbf  0.994444
28  8  scale    rbf  0.994444
32  9  scale    rbf  0.994444